@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

body {
  margin: 10px 0 0 0;
  background: linear-gradient(
    to bottom right,
    rgb(251, 181, 50),
    rgb(246, 131, 42),
    rgb(232, 105, 37),
    rgb(201, 78, 89),
    rgb(183, 68, 123),
    rgb(155, 82, 178)
  );
}
.header {
  margin-top: 35px;
  margin-left: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.button {
  font-size: 30px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: rgb(40, 42, 58);
  color: grey;
  border-radius: 5px;
  border-style: none;
}
.button:hover {
  color: white;
  font-weight: 800px;
}
#moves,
#timer {
  color: white;
  font-weight: 900;
  font-size: 20px;
}
.select-button {
  color: white;
}
.grid {
  width: 90vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  background: linear-gradient(
    to top left,
    rgb(251, 181, 50),
    rgb(246, 131, 42),
    rgb(232, 105, 37),
    rgb(201, 78, 89),
    rgb(183, 68, 123),
    rgb(155, 82, 178)
  );
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.391);
  background-size: contain;
  background-repeat: no-repeat;
}

.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 15px;
}

.card,
.back,
.front {
  height: 18vh;
  width: 18vh;
}
.back,
.front {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  z-index: 2;
  background: rgb(40, 42, 58);
}
.back {
  transform: rotateX(180deg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotate3d(1, 0, 0.15, 180deg) scale(1.1);
}

.match .front {
  background: url("./public/Done.jpeg");
  background-size: contain;
}
.game-over {
  background-color: rgb(40, 42, 58);
  padding: 10px;
  display: flex;
  justify-content: center;
}
.game-over h1 {
  font-size: 40px;
  color: white;
}
.none {
  display: none;
}
